#hh {
	padding-top: 100px;
}

#imgg {
	width: 100%;
}


form {
	width: 45%;
	margin: auto;
	border: 1px solid white;
	background-color: rgb(191, 227, 191);
	margin-top: 110px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 50px;
	border-radius: 30px;
}
.title{
	margin: auto;
}


#form1 {
	padding-bottom: 80px;
}

#log1 {
	text-align: center;
}

#butt1 {
	margin-top: 50px;
	padding-right: 50px;
	padding-right: 20px;

}

#sd {
	margin-top: 30px;
}

#butt {
	margin-top: 30px;
	width: 30%;

}

#pass {
	margin-top: 20px;
}

#pass1 {
	margin-top: 20px;
}

#pp {
	text-align: center;
	margin-top: -37px;

}

a {
	margin-left: 50px;
}

#reg {
	text-align: center;
}

input {
	margin-bottom: 20px;
}

.main {
	justify-content: space-between;

}

#nav {
	color: black;
	text-decoration: none;

}

h1 {
	font-style: bold;
	font-size: large;
}

#butt1 {
	background-color:white;
	color: black;
	padding-left: 20px;
	margin-right: 10px;
	margin-top: -1px;
	transition: transform 0.3s;
}
#butt1:hover{
	background-color: blue;
	color: white;
	transform: scale(1.1);
}



#butt2 {
	background-color: white;
	color: black;
	padding-left: 20px;
	margin-right: 20px;
}

#butt3 {
	background-color: white;
	color: black;
	padding-left: 20px;
}

#butt3:hover {
	background-color: beige;
}

#butt2:hover {
	background-color: beige;
}



i {
	margin-right: 10px;
}

.banner {
	margin-left: 100px;
	display: flex;
	

}


p {
	margin-top: 30px;
}

#bun {
	background-color: white;
	color: black;
}

h5 {
	color: white;
}

#bun:hover {
	color: white;
	background-color: black;
}

#nav {
	color: black;
	text-decoration: none;

}

.but {
	margin-top: 20px;
}

#butt4 {
	margin-top: 30px;
}

.container {
	margin-top: 140px;

}

.user {
	margin-top: 150px;

}

.float {

	width: 100%;
	margin-left: 20px;
}

body {
	background-color: rgb(220, 220, 220);
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}




/* media query */
@media screen and (max-width: 768px) {

	/* CSS rules */
	form {
		width: 75%;



	}

	.formm {
		margin-top: 130px;
		padding-bottom: 50px;
	}

	a {
		margin-bottom: 50px;

	}

	.banner {
		display: grid;
		align-items: center;
		margin-top: 0px;
	}

	#butt1 {
		margin-top: -60px;
		margin-left: 120px;
	}
	#title{
		margin-left: -50px;
		margin-top: 10px;
	}
	.contact-section{
		Width:50%;
	}
	#form1{
		margin-top: 140px;
	}
	form{
		margin-top: 143px;
	}

	
	
	

}