body {
	background-color: rgb(220, 220, 220);
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}
#hh {
	padding-top: 100px;
}



.title{
	margin: auto;
}


/* Buttons */
#butt1 {
	margin-top: 50px;
	padding-right: 50px;
	padding-right: 20px;
}
#butt {
	margin-top: 30px;
	width: 30%;

}

#butt1 {
	background-color:white;
	color: black;
	padding-left: 20px;
	margin-right: 10px;
	margin-top: -1px;
	transition: transform 0.3s;
}
#butt1:hover{
	background-color: blue;
	color: white;
	transform: scale(1.1);
}



#butt2 {
	background-color: white;
	color: black;
	padding-left: 20px;
	margin-right: 20px;
}

#butt3 {
	background-color: white;
	color: black;
	padding-left: 20px;
}

#butt3:hover {
	background-color: beige;
}

#butt2:hover {
	background-color: beige;
}


#butt4 {
	margin-top: 30px;
}


#sd {
	margin-top: 30px;
}


#pass {
	margin-top: 20px;
}

#pass1 {
	margin-top: 20px;
}
/* Links */
#pp {
	text-align: center;
	margin-top: -37px;

}

a {
	margin-left: 50px;
}

input {
	margin-bottom: 20px;
}

.main {
	justify-content: space-between;

}
/* nav bar */
.banner {
	display: flex;
	
	align-items: center;
	
	padding: 10px;
  }
  
  .banner a {
	color: #fff; /* Adjust text color as needed */
	text-decoration: none;
	font-size: 18px;
	transition: transform 0.3s; /* Add transition for smooth animation */
  }
  
  .banner a:hover {
	transform: scale(1.1); /* Zoom effect on hover */
  }
  
#nav {
	color: black;
	text-decoration: none;
	margin: auto;
	margin-left: 50px;
	font-size: 18px;

}

h1 {
	font-style: bold;
	font-size: large;
}



i {
	margin-right: 10px;
}

.banner {
	margin-left: 50px;
	display: flex;
	

}


p {
	margin-top: 30px;
}

#bun {
	background-color: white;
	color: black;
}

h5 {
	color: white;
}

#bun:hover {
	color: white;
	background-color: black;
}

#nav {
	color: black;
	text-decoration: none;

}



.container {
	margin-top: 140px;
	margin: auto;

}
/* banner */


/* Media query for screens with maximum widths of 768px and 480px */
@media screen and (max-width: 768px), (max-width: 480px) {
    form {
        width: 78%;
    }
    .signup {
        width: 80%;
    }
    #form1 {
        width: 80%;
    }
    .formm {
        margin-top: 130px;
        padding-bottom: 50px;
    }
    #nav {
        margin-bottom: 50px;
    }
    .banner {
        display: grid;
       margin: auto;
        margin-top: 10px;
		
    }
    #butt1 {
        
		margin-top: 30px;
        margin-left: 120px;
    }
    #title {
        margin-left: -50px;
        margin-top: 10px;
    }
    .contact-section {
        Width: 50%;
    }
    #form1 {
        margin-top: 140px;
    }
    form {
        margin-top: 143px;
    }
    .bbr {
        height: auto;
    }
    .navbar-brand {
        margin-right: 0;
    }
	.contact-section{
		width:100%;
	}
	
}










